.wrapper{
    width: 230px;
    height: 455px;
    background: grey;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 27px;
}

#phone{
    position: relative;
    z-index: 2;
}

.side-button{
    position: absolute;
    top: 250px;
    left: 750px;
    width: 18px;
    height: 70px;
    border-radius:60px;
    z-index: 1;
}

.display{
    background-color: black;
    height: 445px;
    width: 218px;
    margin: 0 auto;
    border-radius: 27px;
    position: absolute;
    margin-left: 6px;
    margin-top: 5px;
}

.menu-button{
    position: absolute;
    width: 47px;
    height: 44px;
    top: 461px;
    left: 620px;
    z-index: 2;
    border-radius: 30px;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
    padding: 0 10px;
    width: 195px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 25px;
    color: lightblue;
    cursor: pointer;
    width: 50px;
    height: 60px;
    align-items: center;
}

.name-app{
    font-size: 14px;
    margin-top: 5px;
}

